[includeIf "gitdir:~/code/work/"]
    path = ~/code/work/.gitconfig

[includeIf "gitdir:~/code/personal/"]
    path = ~/code/personal/.gitconfig

[includeIf "gitdir:~/"]
    path = ~/code/personal/.gitconfig

[core]
excludesfile = ~/.gitignore

